{% extends "base.html" %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
 
{% block content %}

	<!-- start banner Area -->
	<section class="banner-area relative" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Blog Posts				
					</h1>	
					<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="blog-home.html"> Blog Posts</a></p>
				</div>											
			</div>
		</div>
	</section>
	<!-- End banner Area -->	
	
	<!-- Start blog-posts Area -->
	<section class="blog-posts-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 post-list blog-post-list">
				{% for post in posts %}
				
					<div class="single-post">
						<img class="img-fluid" src="{% static '{{ post.image.url }}' %}" alt="">
						<ul class="tags">
							<li><a href="#">Art, </a></li>
							<li><a href="#">Technology, </a></li>
							<li><a href="#">Fashion</a></li>
						</ul>
						<a href="blog-single"><h1> {{ post.title }} </h1> </a>
						<p> {{ post.descriptiion }}  </p>
						<div class="bottom-meta">
							<div class="user-details row align-items-center">
								<div class="comment-wrap col-lg-6">
									<ul>
										<li><a href="#"><span class="lnr lnr-heart"></span>	4 likes</a></li>
										<li><a href="#"><span class="lnr lnr-bubble"></span> 06 Comments</a></li>
									</ul>
								</div>
								<div class="social-wrap col-lg-6">
									<ul>
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#"><i class="fa fa-behance"></i></a></li>
									</ul>
									
								</div>
							</div>
						</div>
					</div>

				{% endfor %}																
				</div>
				<div class="col-lg-4 sidebar">
					<div class="single-widget search-widget">
						<form class="example" action="#" style="margin:auto;max-width:300px">
							<input type="text" placeholder="Search Posts" name="search2">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>								
					</div>
					{% for auther in auther %}
					
					<div class="single-widget protfolio-widget">
						<img src="{% static '{{ auther.image.url }}' %}" alt="">
						<a href="#"><h4>{{ auther.auther }}</h4></a>
						<p>{{ auther.bio }}
						</p>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>								
					</div>
					{% endfor %}

					<div class="single-widget category-widget">
						<h4 class="title">Post Categories</h4>
						<ul>
						{% for category, job_count in category_job_counts %}
							<li><a class="justify-content-between d-flex" href="category"><p>{{ category }}</p><span>{{ job_count }} </span></a></li>
						{% endfor %}
						</ul>
					</div>

					<div class="single-widget recent-posts-widget">
						<h4 class="title">Recent Posts</h4>
						<div class="blog-list ">

							{% for job in recent_job %}
								<div class="single-recent-post d-flex flex-row">
									<div class="recent-thumb">
										<img class="img-fluid" src="{% static '{{ jop.image.url }}' %}" alt="">
									</div>
									<div class="recent-details">
										<a href="blog-single.html"><h4> {{ job.title }} </h4> </a>
										<p> {{ job.create_at|timesince }} </p>  
									</div>
								</div>	
 							{% endfor %}																														
						</div>								
					</div>

					<div class="single-widget category-widget">
						<h4 class="title">Post Archive</h4>
						<ul>

							{% for archive_post in archive_posts %}
								<li><a href="#" class="justify-content-between align-items-center d-flex"><h6>{{ archive_post.create_at__year }}/{{ archive_post.create_at__month }}</h6> <span>{{ archive_post.post_count }}</span></a></li>
							{% empty %}
								<p>No posts found.</p>
							{% endfor %}

						</ul>
					</div>			

					<div class="single-widget tags-widget">
						<h4 class="title">Tag Clouds</h4>
							<ul>
								<li><a href="#">Lifestyle</a></li>
								<li><a href="#">Art</a></li>
								<li><a href="#">Adventure</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Techlology</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Architecture</a></li>
								<li><a href="#">Food</a></li>
								<li><a href="#">Technology</a></li>
							</ul>
					</div>				

				</div>
			</div>
		</div>	
	</section>
	<!-- End blog-posts Area -->

{% endblock %}